[scripts]
rust2nmap=r/path/to/ust2nmap.py
gobuster_auto=g/path/to/obuster_auto.py
nikto_auto=n/path/to/nikto_auto.py
nuclei_loop=/path/to/nuclei_loop.py
ffuf_auto=/path/to/ffuf_auto.py

[directories]
input_directory=/path/to/dir/
output_base_directory=/path/to/Out/dir

[gobuster]
wordlist_dir=/usr/share/sniper/wordlists/web-brute-full.txt
wordlist_dns=/usr/share/wordlists/subdomains_5k.txt

[nuclei]
workflows_dir=/path/to/nuclei-templates/workflows


[ffuf]
wordlist=/usr/share/sniper/wordlists/web-brute-full.txt

